<div class="timer">
  <div class="timer-tabs">
    <div class="tab main-bg"
      [class.active]="activeTab === 'auto'"
      (click)="setTab('auto')">Auto</div>
    <div class="tab main-bg"
    [class.active]="activeTab === 'manual'"
      (click)="setTab('manual')">Manual</div>
  </div>

  <div *ngIf="activeTab === 'auto'" class="timer-controls timer-container">
    <span class="timer-text">{{timerFormatted}}</span>
    <div class="timer-btns">
      <button class="icon-btn" (click)="startTimer()">
        <fa-icon *ngIf="timerStopped" class="fa-lg" [icon]="faPlay"></fa-icon>
        <fa-icon *ngIf="!timerStopped" class="fa-lg" [icon]="faPause"></fa-icon>
      </button>
      <button class="icon-btn" [disabled]="timeElapsed === 0" (click)="resetTimerConfirm()">
        <fa-icon [icon]="faReset"></fa-icon>
      </button>
    </div>
    <textarea #notes></textarea>
    <button class="submit-btn"
      [disabled]="timeElapsed === 0"
      (click)="submit()">Submit</button>
  </div>
  <div *ngIf="activeTab === 'manual'" class="timer-manual timer-container">
    <input class="start-time" 
      type="datetime-local"
      [formControl]="startControl" />
    <input class="end-time" 
      type="datetime-local" 
      [formControl]="endControl"/>
    <span class="total-manual">Total Time: {{totalManual}}</span>
    <textarea #notesManual></textarea>
    <button class="submit-btn" (click)="submitManual()">Submit</button>
  </div>
</div>

<div class="sessions">
  <div class="todays-sessions session-dropdown">
    <div class="dropdown-title main-bg"
      (click)="expandToday()">
      <fa-icon [icon]="faDropdownArrow"></fa-icon>
      <span>Today's Sessions</span>
    </div>
    <table *ngIf="todayExpanded"
      class="styled-table">
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Total</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let session of todaysSessions">
          <td>{{session?.start | date:'mediumTime'}}</td>
          <td>{{session?.end | date:'mediumTime'}}</td>
          <td>{{session?.total}}</td>
          <td>{{session?.notes}}</td>
        </tr>
      </tbody>
      <tfoot>
        <th scope="row" colspan="2" style="text-align: right;">Total Time</th>
        <td colspan="2">{{todayTotal}}</td>
      </tfoot>
    </table>
  </div>
  <div class="week-session session-dropdown">
    <div class="dropdown-title main-bg"
      (click)="expandWeek()">
      <fa-icon [icon]="faDropdownArrow"></fa-icon>
      This Week's Sessions
    </div>
    <ng-container *ngIf="weeksExpanded">
      <div *ngFor="let daySession of weeksSessions" 
        class="session-dropdown indented-dropdown">
        <div class="dropdown-title main-bg" (click)="expandDayOfWeek(daySession.day)">
          <fa-icon [icon]="faDropdownArrow"></fa-icon>
          {{daySession?.day}}
        </div>
        <table *ngIf="weekDaysExpandedMap[daySession.day]">
          <thead>
            <th>Start</th>
            <th>End</th>
            <th>Total</th>
            <th>Notes</th>
          </thead>
          <tbody>
            <tr *ngFor="let session of daySession?.sessions">
              <td>{{session?.start | date:'mediumTime'}}</td>
              <td>{{session?.end | date:'mediumTime'}}</td>
              <td>{{session?.total}}</td>
              <td>{{session?.notes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>